.adminBtn{
    border: 1px solid #212121;
    border-radius: 0;
    background-color: white;
    color: #212121;
    width: 40%;
    margin-top: 10px;
}

.adminBtn:hover{
    background-color: #212121;
    color: navy;
}

.admintText{
    background-color: #212121;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    padding: 10px;
}